.periodList {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .element {
        border-bottom: 1px solid #b0b0b0;
        padding: 1.5rem 0rem 2.1875rem 0rem;

        &:first-of-type {
            border-top: 1px solid #b0b0b0;
        }

        .title {
            display: flex;
            margin-bottom: 1rem;

            .period {
                position: relative;
                top: -2px;
            }
        }
        .content {
            display: grid;
            grid-template-columns: 0.125fr 0.125fr 1fr;

            @media (max-width: 500px) {
                grid-template-columns: 1fr;
            }
            .item {
                :first-child {
                    margin-bottom: 0.4375rem;
                }

                @media (max-width: 500px) {
                    margin-bottom: 0.4375rem;

                    :first-child {
                        margin-bottom: unset;
                    }
                }
            }
        }
    }
}
