.autocompleteSuggestion__substring {
  font-weight: bold;
}

.autocompleteSuggestion__inner {
  display: block;
  width: 100%;
  padding: 2px 6px 0 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.autocompleteSuggestion--active {
  color: white;
  background-color: #30688b;
}

@media (max-width: 800px) {
  .autocompleteSuggestion__inner {
    padding: 2px 6px 0 12px;
  }
}
